.home-screen-wrapper {
  margin-top: 30px;
  position: relative;

  &:after {
    display: block;
    width: 80vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #737B7D;
    top: 50px !important;
  }

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    margin-bottom: 10px;

    .nav-item {
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px !important;
      color: #737B7D;
    }

    .id {
      margin-left: 20px;
      margin-right: 120px;
    }

    .name {
      width: 100px;
      margin-right: 60px;
    }

    .count {
    }

    .last-change-price {
      text-align: center;
      word-break: break-word;
      width: 180px;
    }

    .last-change-count {
      text-align: center;
    }
    .comment {
      margin-left: 50px;
      margin-right: 110px;
    }
  }
}