.resource-modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }


  .upload-modal-content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 300px;
    transform: scale(0.5);
    transition: 0.4s all;

    .upload-resource-modal-title {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      font-weight: 500;
      color: #737B7D;
      text-align: center;
      margin-bottom: 20px;
    }

    .upload-resource-text {
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 16px;
      margin-top: 20px;
    }

    .upload-resource-input {
      width: 250px;
      height: 30px;
      border: 1px solid #F1DB10;
      border-radius: 6px;
      padding: 10px;
      box-shadow: 0 0 12px rgba(34, 60, 80, 0.13);

      &:hover,
      &:focus{
        outline: none;
      }
    }


    &.active {
      transform: scale(1);
    }

    .filter-btn {
      margin-top: 40px;
      margin-left: 45px;
      background: #F1DB10;
      border: none;
      box-shadow: 0 0 12px rgba(16, 156, 241, 0.24);
      color: #ffffff;
      border-radius: 4px;
      width: 160px;
      height: 42px;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
    }

  }
}