.specification-screen-wrapper {
  margin-top: 30px;
  position: relative;
  &:after {
    display: block;
    width: 81vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #737B7D;
    top: 35px;
  }

  .menu-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 0;

    .id {
      margin-left: 20px;
      margin-right: 90px;
    }

    .name {
      margin-right: 100px;
    }

    .self-cost {
      margin-right: 40px;
    }

    .marja {
      margin-right: 55px;
    }

    .coefficient {
      margin-right: 55px;
    }

    .best-price {
      margin-right: 40px;
    }

    .now-price {
      margin-right: 40px;
    }



    .nav-item {
      font-family: 'Montserrat', sans-serif !important;
      font-weight: 500 !important;
      font-size: 13px !important;
      color: #737B7D !important;
    }
  }
}