select {
  padding: 10px;
  border: 1px solid #F1DB10;
  border-radius: 6px;
  box-shadow: 0 0 12px rgba(34, 60, 80, 0.13);

  &:focus {
    outline: none;
  }
}

.create-user-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #737B7D;
  margin-bottom: 10px;
}