.specification-item-wrapper {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;

  &:hover {
    cursor: pointer;
  }

  .item-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    width: 81vw;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(34, 60, 80, 0.13);
    margin-bottom: -20px;

    .id-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .assemble-btn {
      font-family: 'Montserrat', sans-serif;
      background-color: #fff;
      font-size: 12px;
      font-weight: 500;
      color: #737B7D;
      position: absolute;
      bottom: -35px;
      right: 50px;
      height: 25px;
      width: 100px;
      border-radius: 6px;
      box-shadow: 0 0 20px rgba(34, 60, 80, 0.13);
      border: 1px solid #F1DB10;

    }

    .delete-btn {
      z-index: 10;
      font-family: 'Montserrat', sans-serif;
      background-color: #ffffff;
      font-size: 12px;
      font-weight: 500;
      color: #737B7D;
      position: absolute;
      bottom: -35px;
      right: 50px;
      height: 25px;
      width: 100px;
      border-radius: 6px;
      box-shadow: 0 0 20px rgba(34, 60, 80, 0.13);
      border: 1px solid #F1DB10;
      transform: scale(0);
      transition: 0.9s all;

      &.active {
        transform: scale(1);
      }
    }

    .form-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        padding-left: 10px;
        border: 1px solid #F1DB10;
        width: 70px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        box-shadow: 0 0 12px rgba(34, 60, 80, 0.13);
      }

      button {
        margin-left: 10px;
        border-radius: 50%;
        background-color: #F1DB10;
        border: none;
        width: 25px;
        height: 25px;
        color: #fff;
      }

      .price-submit {
        margin-right: 20px !important;
      }
    }

    .delete-checkbox {
      margin-right: 10px;
    }

    .id {
      width: 70px;
      margin-right: 35px;
    }

    .name {
      width: 200px;
      text-align: center;
      word-break: break-word;
      margin-right: 50px;
    }

    .cost-price {
      width: 100px;
      text-align: center;
      margin-right: 40px;
    }

    .marja {
      text-align: center;
      width: 60px;
      margin-right: 85px;
    }

    .confirm-button {
      margin-right: 60px;
    }

    .coefficient {
      text-align: center;
      margin-right: 120px;
    }

    .best-price {
      text-align: center;
      width: 60px;
      margin-right: 55px;
    }

    .price {
      text-align: center;
      width: 100px;
      margin-right: 40px;
    }

    .category {
      text-align: center;
      margin-right: 25px;
      width: 100px;
      word-break: break-word;
    }
  }



  .product-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
  }
}