.specification-item-wrapper {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:after {
    display: block;
    width: 82vw;
    content: '';
    position: absolute;
    border-bottom: 1px solid #737B7D;
    top: 45px;
  }

  .product-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}