.product-item-wrapper {
  margin-top: 30px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .item-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 80vw;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(34, 60, 80, 0.13);

    .form-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 30px;

      input {
        padding-left: 10px;
        border: 1px solid #F1DB10;
        border-radius: 6px;
        display: flex;
        align-items: center;
        box-shadow: 0 0 12px rgba(34, 60, 80, 0.13);
      }

      button {
        margin-left: -40px;
        margin-right: 20px;
        border-radius: 50%;
        background-color: #F1DB10;
        border: none;
        width: 25px;
        height: 25px;
        color: #fff;
      }
    }

    .id {
      margin-right: 10px;
      width: 50px;
      text-align: left;
      font-size: 12px !important;
    }

    .name {
      width: 70px;
      text-align: left;
      margin-right: 45px;
    }

    .price {
      text-align: center;
      width: 70px;
      margin-right: 45px;

      &:hover,
      &:focus{
        outline: none;
      }
    }

    .count {
      text-align: left;
      width: 90px;
      margin-right: 30px;
    }

    .diller {
      text-align: left;
      width: 120px;
      margin-right: 40px;
    }

    .last-price-change {
      margin-right: 85px;
    }
  }

  .product-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
}