.close-wrapper {
  pointer-events: none;

  .scroll-div {
    padding: 15px;
    height: 150px;
    overflow: scroll;
  }


  .specification-card-wrapper {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    width: 37%;
    height: 100vh;
    background-color: #fff;
    transition: 0.5s;
    transform: translateX(200%);
    box-shadow: -15px 0px 22px 0px rgba(34, 60, 80, 0.13);

    &.active {
      transform: translateX(0%);
      pointer-events: all;
    }

    .header-specification-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(241, 219, 16, 0.3);
      padding: 15px;

      .id-in-card {
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
      }

      .specification-card-title {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 500;

        .close-card-btn {
          border: none;
          background: none;
          color: #737B7D;
          font-size: 24px;
          font-family: 'Montserrat', sans-serif;
          
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .specification-card-info {
      padding: 15px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;


      .about-store {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 5px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
      }
    }

    .info-resource-title-wrapper {
      background-color: rgba(241, 219, 16, 0.3);
      padding: 5px;
      margin-bottom: 15px;
    }

    .info-resource-title {
      font-family: 'Montserrat', sans-serif;
      font-size: 24px;
      font-weight: 500;
      padding: 15px;
    }

    .resource-info-block {
      padding: 15px;

      .resource-nav {
        margin-left: 20px;
        gap: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 15px;

        .nav-id {
          margin-right: 60px;
        }

      }
    }
    .card-btn {
      width: 120px;
      height: 40px;
      background-color: #F1DB10;
      border: none;
      border-radius: 6px;
      box-shadow: 0 0 12px rgba(34, 60, 80, 0.13);
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
    }
  }
}

.create-order-input {
  height: 20px;
  width: 150px;
  border: 1px solid #F1DB10;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 12px rgba(34, 60, 80, 0.13);

  &:hover,
  &:focus{
    outline: none;
  }
}

.calculate-btn {
  background: #F1DB10;
  border: none;
  box-shadow: 0 0 12px rgba(16, 156, 241, 0.24);
  color: #ffffff;
  border-radius: 4px;
  width: 120px;
  height: 30px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.calculate-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}