.change-password-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  button {
    margin-top: 20px;
    background: #F1DB10;
    border: none;
    box-shadow: 0 0 12px rgba(16, 156, 241, 0.24);
    color: #ffffff;
    border-radius: 4px;
    width: 160px;
    height: 42px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
  }

  input {
    margin-top: 5px;
    height: 30px;
    width: 250px;
    border: 1px solid #F1DB10;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 12px rgba(34, 60, 80, 0.13);
    margin-bottom: 10px;

    &:hover,
    &:focus{
      outline: none;
    }
  }

  .change-password-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #737B7D;
    margin-bottom: 10px;
  }

  .password {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
  }
}