.nav-card-products {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;

  .ID {
    margin-left: 15px;
    margin-right: 140px;
  }

  .nav-card-name {
    margin-right: 90px;
  }
}

.order-card-resource-item {
  padding: 10px;
}

.no-order-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .no-order {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;

  }
}

.card-btn {
  margin-left: 220px;
}

.activate-btn {
  margin-left: 160px;
  width: 130px;
  height: 40px;
  border: none;
  background-color: #F1DB10;
  border-radius: 6px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: 0 0 12px rgba(34, 60, 80, 0.13);
  margin-right: 20px;
}

.confirm-btn {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #F1DB10;
  border-radius: 6px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  box-shadow: 0 0 12px rgba(34, 60, 80, 0.13);
}

.header-specification-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.specification-card-id {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.order-card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 500;
}